@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, div, a, img, ul, ol, li, i,
fieldset, button, input, textarea, table, tr, th, td, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, address, blockquote,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, object, embed, param {
  margin: 0;
  padding: 0; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time {
  display: block; }

body {
  line-height: 1; }

button:focus, input:focus, select:focus, textarea:focus {
  outline: 0; }

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

ul, li, ol {
  list-style: none; }

em {
  font-style: normal; }

a {
  text-decoration: none;
  color: black;
  font-size: 100%;
  color: inherit; }

a, img {
  display: block; }

img {
  border: 0;
  outline: 0; }

input, button {
  background: transparent;
  border: 0;
  outline: 0; }

html {
  font-size: 12px;
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif; }

.fm_h {
  font-family: SimHei,'黑体'; }

.fm_a {
  font-family: Arial; }

/* css background-linear-gradient */
/* transtion */
/* transform */
.flex {
  display: -webkit-flex;
  display: flex; }

.f_wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.f_dire_c {
  -webkit-flex-direction: column;
  flex-direction: column; }

.f_grow {
  -webkit-flex: 1;
  flex: 1; }

.f_jc_center {
  -webkit-justify-content: center;
  justify-content: center; }

.f_jc_end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.f_jc_sb {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.f_jc_sa {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.f_ac_sb {
  -webkit-align-content: space-between;
  align-content: space-between; }

.f_ac_sa {
  -webkit-align-content: space-around;
  align-content: space-around; }

.f_ac_stretch {
  -webkit-align-content: stretch;
  align-content: stretch; }

.f_ac_center {
  -webkit-align-content: center;
  align-content: center; }

.f_ac_end {
  -webkit-align-content: flex-end;
  align-content: flex-end; }

.f_ai_center {
  -webkit-align-items: center;
  align-items: center; }

.f_ai_start {
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.f_ai_center {
  -webkit-align-items: center;
  align-items: center; }

.f_ai_end {
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.f_as_stretch {
  -webkit-align-self: stretch;
  align-self: stretch; }

.f_as_cen {
  -webkit-align-self: center;
  align-self: center; }

.f_as_start {
  -webkit-align-self: flex-start;
  align-self: flex-start; }

.f_and_wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.level_center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }

.vertical_center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.all_center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.transfrom3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.clearfix:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0; }

.db {
  display: block; }

.dn {
  display: none; }

.d_ib {
  display: inline-block;
  vertical-align: top; }

.d_ib_m {
  display: inline-block;
  vertical-align: middle; }

.pos_r {
  position: relative; }

.pos_a {
  position: absolute; }

.pos_center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.tr {
  text-align: right; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.fl {
  float: left; }

.fr {
  float: right; }

.oh {
  overflow: hidden; }

.mar_center {
  margin-left: auto;
  margin-right: auto; }

.va_b {
  vertical-align: baseline; }

.va_t {
  vertical-align: top; }

.va_m {
  vertical-align: middle; }

.fw_b {
  font-weight: bold; }

.txt_hide {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.fs0 {
  font-size: 0; }

.box_border {
  box-sizing: border-box; }

.user_select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

.bg_white {
  background-color: white; }

.border_top {
  position: relative;
  border: none; }

.border_top::after {
  content: '';
  position: absolute;
  top: 0;
  background: currentColor;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.border_bottom {
  position: relative;
  border: none; }

.border_bottom::after {
  content: '';
  position: absolute;
  bottom: 0;
  background: currentColor;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.border_left {
  position: relative;
  border: none; }

.border_left::after {
  content: '';
  position: absolute;
  left: 0;
  background: currentColor;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.border_right {
  position: relative;
  border: none; }

.border_right::after {
  content: '';
  position: absolute;
  right: 0;
  background: currentColor;
  width: 1px;
  height: 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.border_all {
  position: relative;
  margin-bottom: 20px;
  border: none; }

.border_all:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid currentColor;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top; }

/*# sourceMappingURL=style.css.map */
