.m-home_btnGroup
  a.details(href=`${public.link_detail}`)
    span #{btnTxt}
  a.cart(href=`${public.link_cart}`)
    div(class=`icon-home_cart iconfont m-home_btnGroup_icon ${welcomeHeader ? 'welcome' : 'normal'}`)
